<div class="well">
    <span class="glyphicon glyphicon-th-list"></span> me</a>
    <form class="form-vertical" name="formMe" novalidate ng-submit="submit(formMe)">
        <div class="form-group has-feedback">
            <input required type="text" class="form-control" placeholder="host" ng-model="host">
            <required data-key="host"></required>
        </div>
        <div class="form-group">
            <button class="btn btn-default btn-block" type="submit" ng-disabled="!host">get</button>
        </div>
        <alert data-key="message"></alert>
    </form>
</div>

<hr ng-show="contacts.length" />

<div class="form-group" ng-show="contacts.length">
    <span ng-repeat="item in contacts">
           <a href="javascript:void(0);" ng-click="submitTarget(item)" ng-style="getStyle(item.username)" title="talk to">{{item.name}}</a>
        </span>
    </span>
</div>
<hr ng-show="contacts.length" />